$primaryColor : #e34;
$primaryColor : #30e;
$primaryColor : #1C4;
$primaryColor : #060;
$primaryColor : #ff4646;
$primaryColor : #46aeff;
$primaryColor : #F90;
$primaryColor : #F60;
$primaryColor : #FF0;
$primaryColor : #f00;
$primaryColor : #57A;
