@mixin border-btn($color1, $color2) {
  border-radius: 2em;
  padding: 0;
  margin: 1em;
  background-color: transparent;
  color: $color1;
  font-weight: bold;
  border: 0.2em solid $color1;
  font-size: 1em;
  a {
    color: inherit;
    display: block;
    padding: 1em;
  }
  &:hover {
    background: $color1;
    color: $color2;
    transition: all 0.4s ease-out;
  }
}
